html/lecture/.idea/encodings.xml
html/.idea/compiler.xml
html/.idea/encodings.xml
html/.idea/html.iml
html/.idea/misc.xml
html/.idea/modules.xml
html/.idea/vcs.xml
html/.idea/workspace.xml
html/.idea/inspectionProfiles/Project_Default.xml
html/lecture/.idea/compiler.xml
html/lecture/.idea/lecture.iml
html/lecture/.idea/misc.xml
html/lecture/.idea/modules.xml
html/lecture/.idea/vcs.xml
html/lecture/.idea/workspace.xml
html/lecture/.idea/inspectionProfiles/Project_Default.xml
html/.DS_Store
.DS_Store
